.box{
    border: 2px solid blue;
    border-radius: 5px;
    width: 500px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: auto;
}
.heading{
     font-size: 40px;
     font-style: italic;
     text-align: center;
}
#txt{
    font-size: 30px;
    border: 1px solid;
    width: 150px;
    margin: auto;
    text-align: center;
}
#txt :hover{
    background-color: aqua;
}
#btn{
    font-size: 30px;
     position: absolute;
     right: 50%; 

}